
    <h2><%= @recipe.name %></h2>
   

    <div><strong>Course: </strong><%= @recipe.course %></div>
    <div><strong>Cook time: </strong><%= @recipe.cooktime %></div>
    <div><strong>Serving size: </strong><%= @recipe.servingsize %></div>
    <div> <strong>Ingredients: </strong><% @recipe.ingredients.each do |ingredients|  %>
    <%= ingredients.name  %>,
    <% end %></div>
    <div><strong>Instructions: </strong><%= @recipe.instructions %></div>
    <div><strong>Featured in: </strong><%= @recipe.book.title %></div>

    <div><%= image_tag @recipe.image  %></div>


  <h6><%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Destroy', @recipe, method: :delete, data: {confirm: 'Are you sure?'} %></h6>
