
    <h2><%= @recipe.name %></h2>
   

    <div>Course: <%= @recipe.course %></div>
    <div>Cook time:<%= @recipe.cooktime %></div>
    <div>Serving size:<%= @recipe.servingsize %></div>
    <div>Instructions: <%= @recipe.instructions %></div>
    <div>Featured in: <%= @recipe.book.title %></div>
    <div> Ingredients <% @recipe.ingredients.each do |ingredients|  %>
    <%=  %>
    <% end %></div>
    <div><%= image_tag @recipe.image  %></div>


  <p><%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Destroy', @recipe, method: :delete, data: {confirm: 'Are you sure?'} %></p>
